################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeeManagementAPI.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/EmployeeManagementAPI.slnx/FileContentIndex/9871eecc-d217-47d0-9bdc-f0c1e357947c.vsidx
/.vs/EmployeeManagementAPI.slnx/v18/.futdcache.v2
/.vs/EmployeeManagementAPI.slnx/v18/.suo
/.vs/EmployeeManagementAPI.slnx/v18/.wsuo
/.vs/EmployeeManagementAPI.slnx/v18/DocumentLayout.backup.json
/.vs/EmployeeManagementAPI.slnx/v18/DocumentLayout.json
/.vs/ProjectEvaluation/employeemanagementapi.metadata.v10.bin
/.vs/ProjectEvaluation/employeemanagementapi.projects.v10.bin
/.vs/ProjectEvaluation/employeemanagementapi.strings.v10.bin
/.vs/VSWorkspaceState.json
/EmployeeManagementAPI/bin/Debug/net8.0/Azure.Core.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Azure.Identity.dll
/EmployeeManagementAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/EmployeeManagementAPI.deps.json
/EmployeeManagementAPI/bin/Debug/net8.0/EmployeeManagementAPI.dll
/EmployeeManagementAPI/bin/Debug/net8.0/EmployeeManagementAPI.exe
/EmployeeManagementAPI/bin/Debug/net8.0/EmployeeManagementAPI.pdb
/EmployeeManagementAPI/bin/Debug/net8.0/EmployeeManagementAPI.runtimeconfig.json
/EmployeeManagementAPI/bin/Debug/net8.0/EmployeeManagementAPI.staticwebassets.endpoints.json
/EmployeeManagementAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/FluentValidation.AspNetCore.dll
/EmployeeManagementAPI/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/FluentValidation.dll
/EmployeeManagementAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Humanizer.dll
/EmployeeManagementAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/EmployeeManagementAPI/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.AspNetCore.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Serilog.Sinks.File.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/EmployeeManagementAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.ClientModel.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.CodeDom.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Composition.Convention.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Drawing.Common.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Memory.Data.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Runtime.Caching.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Security.Permissions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
/EmployeeManagementAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/EmployeeManagementAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/EmployeeManagementAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EmployeeManagementAPI/obj/Debug/net8.0/ApiEndpoints.json
/EmployeeManagementAPI/obj/Debug/net8.0/apphost.exe
/EmployeeManagementAPI/obj/Debug/net8.0/Employee.6DB1D27B.Up2Date
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.AssemblyInfo.cs
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.AssemblyInfoInputs.cache
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.assets.cache
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.csproj.AssemblyReference.cache
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.csproj.BuildWithSkipAnalyzers
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.csproj.CoreCompileInputs.cache
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.csproj.FileListAbsolute.txt
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.dll
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.GeneratedMSBuildEditorConfig.editorconfig
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.genruntimeconfig.cache
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.GlobalUsings.g.cs
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.MvcApplicationPartsAssemblyInfo.cache
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.MvcApplicationPartsAssemblyInfo.cs
/EmployeeManagementAPI/obj/Debug/net8.0/EmployeeManagementAPI.pdb
/EmployeeManagementAPI/obj/Debug/net8.0/EndpointInfo/EmployeeManagementAPI.json
/EmployeeManagementAPI/obj/Debug/net8.0/EndpointInfo/EmployeeManagementAPI.OpenApiFiles.cache
/EmployeeManagementAPI/obj/Debug/net8.0/ref/EmployeeManagementAPI.dll
/EmployeeManagementAPI/obj/Debug/net8.0/refint/EmployeeManagementAPI.dll
/EmployeeManagementAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/EmployeeManagementAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/EmployeeManagementAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
/EmployeeManagementAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/EmployeeManagementAPI/obj/Debug/net8.0/staticwebassets.build.json
/EmployeeManagementAPI/obj/Debug/net8.0/staticwebassets.build.json.cache
/EmployeeManagementAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/EmployeeManagementAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/EmployeeManagementAPI/obj/Debug/net8.0/swae.build.ex.cache
/EmployeeManagementAPI/obj/EmployeeManagementAPI.csproj.nuget.dgspec.json
/EmployeeManagementAPI/obj/EmployeeManagementAPI.csproj.nuget.g.props
/EmployeeManagementAPI/obj/EmployeeManagementAPI.csproj.nuget.g.targets
/EmployeeManagementAPI/obj/project.assets.json
/EmployeeManagementAPI/obj/project.nuget.cache
/EmployeeManagementAPI/Migrations/20260623110424_InitialCreate.cs
/EmployeeManagementAPI/Migrations/20260623110424_InitialCreate.Designer.cs
/EmployeeManagementAPI/Logs/ErrorLog-20260623.txt
